### Case Study – 1

#### Domain – Chemical Industry

#### focus – Classify chemical

#### Business challenge/requirement
FuPont is a leading chemical company across the globe. The Company is on a CSR
(Corporate Social Responsibility) mission. It wants to identify biodegradable
products based on a study of the relationships between chemical structure and
biodegradation of molecules.
You as an ML expert have to create an ML model to classify the chemical structure as
'Ready BioDegradable' – RB vs 'Not Ready Biodegradable' – NRB

#### Key issues
Data has lots of attributes and classification could be tricky

#### Considerations
NONE

#### Data volume
- Approx 1055 records – file bio-degradabale-data.csv 

#### Fields in Data
• Details in .ipynb notebook

#### Additional information
- NA

#### Business benefits
Research can lead FuPont to create truly unique Biodegradable packaging material.
This could lead to massive profits in future

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [3]:
df=pd.read_csv("data/bio-degradabale-data.csv", sep=";")
df.head()

,3.919,2.6909,0,0.1,0.2,0.3,0.4,31.4,2,0.5,...,0.19,0.20,0.21,2.949,1.591,0.22,7.253,0.23,0.24,RB
0,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,RB
1,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,RB
2,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,RB
3,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,RB
4,4.236,3.4286,0,0,0,0,0,28.6,2,4,...,0,0,0,3.351,2.556,0,7.904,0,0,RB

In [4]:
df.shape

(1054, 42)

In [6]:
df.columns=range(42)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,RB
1,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,RB
2,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,RB
3,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,RB
4,4.236,3.4286,0,0,0,0,0,28.6,2,4,...,0,0,0,3.351,2.556,0,7.904,0,0,RB

In [7]:
X=df.iloc[:, 0:41]
y=df[41]
print(X.shape)
print(y.shape)

(1054, 41)
(1054,)

In [9]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.20, random_state=42)

In [11]:
# implement Logistic Regression classifier
log_model=LogisticRegression()
log_model.fit(X_train, y_train)
y_predict=log_model.predict(X_test)

C:\Users\736944\AppData\Roaming\Python\Python310\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [13]:
print(accuracy_score(y_test, y_predict))

0.8672985781990521

In [17]:
# implement randomforest classifier to improve the accuracy score
random_model=RandomForestClassifier()
random_model.fit(X_train,y_train)
y_predict_rand=random_model.predict(X_test)

In [18]:
print(accuracy_score(y_test, y_predict_rand))

0.8720379146919431