### Case Study – 3

#### Questions:
1. Load the file “zoo.data” and look at the info and the first five rows. The first column denotes the animal name and the last one specifies a high-level class for the corresponding animal.

2. Find out the unique number of high-level cclasses

3. Use the 16-intermediate feature and perform an agglomerative clustering.

[ Hint: Refer to the agglomerative clustering module in scikit learn and set the
number of clusters appropriately]

4. Compute the mean squared error by comparing the actual class and predicted high-level class.

In [17]:
import pandas as pd
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import mean_squared_error

In [5]:
# 1. Load the file “zoo.data” and look at the info and the first five rows. 
# The first column denotes the animal name and the last one specifies a high-level class for the corresponding animal.
data=pd.read_csv("data/zoo.csv")
data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [6]:
# 2. Find out the unique number of high-level cclasses
unique_class=data["class_type"].value_counts()
unique_class

1    41
2    20
4    13
7    10
6     8
3     5
5     4
Name: class_type, dtype: int64

In [16]:
# 3. Use the 16-intermediate feature and perform an agglomerative clustering.

agg_cluster=AgglomerativeClustering(n_clusters=4)
agg_predict=agg_cluster.fit_predict(data.iloc[:, 1:17])

In [18]:
# 4. Compute the mean squared error by comparing the actual class and predicted high-level class.
print(mean_squared_error(data["class_type"],agg_predict ))

7.198019801980198